<div id="spawnQuote" ng-click="endEdit()">
	<div class="heading">		
		<h3>Add text to spawn a new meme</h3>		
		<div class="closeMe"  ng-click="closeMe()"><span class="fa fa-times"></span></div>				
	</div>	
	<div id="toolbar" >
		<div class="btn-group">
		  <label class="btn btn-default" name="bold" title="Bold"
			ng-click="bold()" ng-class="{'active': comment.fontWeight == 'bold'}" >
			<i class="fa fa-bold active "></i>
		  </label>
		  <label type="button" class="btn btn-default" name="italics" title="Italic"
			ng-click="italic()" ng-class="{'active': comment.fontStyle == 'italic'}">
			<i class="fa fa-italic"></i>
		  </label>
		  <label type="button" class="btn btn-default" name="underline" title="Underline"
			ng-click="underline()"  ng-class="{'active': comment.textDecoration == 'underline'}">
			<i class="fa fa-underline"></i>
		  </label>
		</div>
		<!-- Single button -->
		<div class="btn-group" title="Font">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<span style="font-family:{{comment.fontFamily}}">Font</span>  <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
			<li><span ng-click="fontFamily('Arial')" style="font-family:arial">Arial</span></li>
			<li><span ng-click="fontFamily('Arial Black')" style="font-family:Arial Black, arial">Arial Black</span></li>
			<li><span ng-click="fontFamily('Arial Narrow')" style="font-family:Arial Narrow, arial">Arial Narrow</span></li>
			<li><span ng-click="fontFamily('Century Gothic')" style="font-family:Century Gothic, arial">Century Gothic</span></li>
			<li><span ng-click="fontFamily('Comic Sans MS')" style="font-family:Comic Sans MS, arial">Comic Sans MS</span></li>
			<li><span ng-click="fontFamily('Courier New')" style="font-family:Courier New, arial">Courier New</span></li>
			<li><span ng-click="fontFamily('Georgia')" style="font-family:Georgia, arial">Georgia</span></li>
			<li><span ng-click="fontFamily('Impact')" style="font-family:Impact, arial">Impact</span></li>
			<li><span ng-click="fontFamily('Lucida Console')" style="font-family:Lucida Console, arial">Lucida Console</span></li>
			<li><span ng-click="fontFamily('Lucida Sans Unicode')" style="font-family:Lucida Sans Unicode, arial">Lucida Sans Unicode</span></li>
			<li><span ng-click="fontFamily('Palatino Linotype')" style="font-family:Palatino Linotype, arial">Palatino Linotype</span></li>
			<li><span ng-click="fontFamily('Tahoma')" style="font-family:Tahoma, arial">Tahoma</span></li>
			<li><span ng-click="fontFamily('Times New Roman')" style="font-family:Times New Roman, arial">Times New Roman</span></li>
			<li><span ng-click="fontFamily('Trebuchet MS')" style="font-family:Trebuchet MS, arial">Trebuchet MS</span></li>
			<li><span ng-click="fontFamily('Verdana')" style="font-family:Verdana, arial">Verdana</span></li>
		  </ul>
		</div>
		<div class="btn-group" title="Font Size">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			{{comment.fontSize}} <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
			<li><span ng-click="fontSize(5)">5 pt</span>
			</li>
			<li><span span ng-click="fontSize(6)">6 pt</span>
			</li>
			<li><span span ng-click="fontSize(7)">7 pt</span>
			</li>
			<li><span span ng-click="fontSize(8)">8 pt</span>
			</li>
			<li><span span ng-click="fontSize(9)">9 pt</span>
			</li>
			<li><span span ng-click="fontSize(10)">10 pt</span>
			</li>
			<li><span span ng-click="fontSize(11)">11 pt</span>
			</li>
			<li><span span ng-click="fontSize(12)">12 pt</span>
			</li>
			<li><span span ng-click="fontSize(13)">13 pt</span>
			</li>
			<li><span span ng-click="fontSize(14)">14 pt</span>
			</li>
			<li><span span ng-click="fontSize(15)">15 pt</span>
			</li>
			<li><span span ng-click="fontSize(18)">18 pt</span>
			</li>
			<li><span span ng-click="fontSize(20)">20 pt</span>
			</li>
			<li><span span ng-click="fontSize(25)">25 pt</span>
			</li>
			<li><span span ng-click="fontSize(30)">30 pt</span>
			</li>
			<li><span span ng-click="fontSize(35)">35 pt</span>
			</li>
		  </ul>
		</div>
		<div class="btn-group" title="Background Color">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			
			<i style="border-bottom:5px solid {{comment.backgroundColor}};font-weight:bold;" class="fa fa-paint-brush"></i>  <i class="caret"></i>
		  </button>
		  <ul class="dropdown-menu" role="menu">
			<li>
			  <span ng-click=backColor("none")>
				<div style="background-color:White;text-align:center;font-size:12px;border:0;" class="colorBar">None</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("White")><div style="background-color:White;" class="colorBar">&nbsp;</div></span>
			</li>
			<li>
			  <span ng-click=backColor("Silver")>
				<div style="background-color:Silver;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Gray")>
				<div style="background-color:Gray;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Black")>
				<div style="background-color:Black	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Red")>
				<div style="background-color:Red	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Maroon")>
				<div style="background-color:Maroon	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Yellow")>
				<div style="background-color:Yellow	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Olive")>
				<div style="background-color:Olive	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Lime")>
				<div style="background-color:Lime	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Green")>
				<div style="background-color:Green	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Aqua")>
				<div style="background-color:Aqua	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Teal")>
				<div style="background-color:Teal	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Blue")>
				<div style="background-color:Blue	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Navy")>
				<div style="background-color:Navy	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Fuchsia")>
				<div style="background-color:Fuchsia	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=backColor("Purple")>
				<div style="background-color:Purple;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
		  </ul>
		</div>
		<div class="btn-group" title="Font Color">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			<i style="border-bottom:5px solid {{comment.color}};font-weight:bold;" class="fa fa-font"></i>  <i class="caret"></i>
		  </button>
		  <ul class="dropdown-menu" role="menu">
			<li>
			  <span ng-click=color("White")><div style="background-color:White;" class="colorBar">&nbsp;</div></span>
			</li>
			<li>
			  <span ng-click=color("Silver")>
				<div style="background-color:Silver;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Gray")>
				<div style="background-color:Gray;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Black")>
				<div style="background-color:Black	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Red")>
				<div style="background-color:Red	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Maroon")>
				<div style="background-color:Maroon	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Yellow")>
				<div style="background-color:Yellow	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Olive")>
				<div style="background-color:Olive	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Lime")>
				<div style="background-color:Lime	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Green")>
				<div style="background-color:Green	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Aqua")>
				<div style="background-color:Aqua	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Teal")>
				<div style="background-color:Teal	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Blue")>
				<div style="background-color:Blue	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Navy")>
				<div style="background-color:Navy	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Fuchsia")>
				<div style="background-color:Fuchsia	;" class="colorBar">&nbsp;</div>
			  </span>
			</li>
			<li>
			  <span ng-click=color("Purple")>
				<div style="background-color:Purple;" class="colorBar">&nbsp;</div>
			  </span>
			</li>

		  </ul>
		</div>    
		<div class="btn-group">
		  <label class="btn btn-default ng-scope" title="Align Text Left"
			ng-click="align('left')"  ng-class="{'active': comment.textAlign == 'left'}">
			<i class="fa fa-align-left"></i>
		  </label>
		  <label type="button" class="btn btn-default ng-scope" title="Align Text Center"
			ng-click="align('center')"  ng-class="{'active': comment.textAlign == 'center'}">
			<i class="fa fa-align-center"></i>
		  </label>
		  <label type="button" class="btn btn-default ng-scope" title="Align Text Right"
			ng-click="align('right')"  ng-class="{'active': comment.textAlign == 'right'}">
			<i class="fa fa-align-right"></i>
		  </label>
		</div>
	  </div>		
	<div id="commentContainer" style="width:{{seedImage.width}}px;max-height:32px;" 
		ngdroppable ngdrop="alignTop(left,top,relLeft,relRight,el)" ngdragover="over(el, target);" ngdragout="out(el, target);"
		onclick="event.stopPropagation();">

	</div>
	<div  class="imageContainer" style="width:{{seedImage.width}}px;">
		<img ng-src={{seedImage.image}} ngdroppable ngdrop="dropped(left,top,relLeft,relRight,el)"
				style="width:{{seedImage.width}}px; height:{{seedImage.height}}px; margin-left:auto;margin-right:auto;display:block;"/>

	</div>
	<div id="commentContainerBottom" style="width:{{seedImage.width}}px;height:32px;max-height:32px;margin-left: auto;margin-right: auto;margin-top: 5px;" 
			ngdroppable ngdrop="alignBottom(left,top,relLeft,relRight,el)" ngdragover="over(el, target);" ngdragout="out(el, target);"
			onclick="event.stopPropagation();">
		<div id="comment" title="Click on the text below to edit. Then drag it onto the image." 
			ngdraggableresizable ngresizeStop="resized(width, height)" ngdragstart="startDrag()"
			style=";min-height:16px;">
			<div class="dropComment" ng-show="editingComment" ng-click="dropComment()"><span class="fa fa-times"></span></div>
			<div  ng-click="startEdit()" 
			style="	font-family:{{comment.fontFamily}}; 
					font-size:{{comment.fontSize}}; 
					font-weight:{{comment.fontWeight}}; 
					font-style:{{comment.fontStyle}}; 
					text-decoration:{{comment.textDecoration}}; 
					color:{{comment.color}}; 
					background-color:{{comment.backgroundColor}};
					text-align:{{comment.textAlign}};min-height:16px;"
			>{{comment.text}}</div>
					
		<input type="text" class="form-control" ng-model="comment.text" 
				ng-show="editingComment" ng-blur="endEdit()"
				style=" min-height:16px;"/>				
		</div>
	</div>
	<div class="buttons">				
		<input type="button" value="Close" ng-click="closeMe()" title="Close this page"/>
		<input type="button" value="Start Again" ng-click="startAgain()" title="Begin again with a new image"/>
		<input type="button" value="Reset Text" ng-click="reset()" title="Revert the text to its original state"/>
		<input type="button" value="Procced" ng-click="publish()" title="Move on to the publish page with this Meme"/>
	</div>	
</div>