/* Put your css in here */
.search{
  margin-top:15px;
  padding:15px;
}
.quoteContainer{
  background-color:#F8F8F8 ;
  padding:15px;
  border-radius: 12px;
}
.quoteContainer .leftMargin{
  width:80px;
  height:150px;
  float:left;
}
.quote{
  width:230px;
  float:left;
  margin:5px;
}
.quote img{
  width:100%;
  max-height:300px;
  cursor:pointer;
}
.quoteHeader{
  margin-top:5px;
  width:100%;
  font-size:.8em;
  color:#C8C8C8;
  cursor:pointer;
}
.quoteHeader .when{
  float:right;
}
.quoteFooter{
  margin-top:5px;
  width:100%;
  font-size:1Sem;
  color:#C8C8C8;
  cursor:pointer;
}
.quoteFooter .options{
  float:right;
}
.options span{
  border:1px solid white;
  padding:1px;
}
.options span:hover{
  color:#888888;
  border:1px solid #888888 ;
}
.addQuote{
  height:340px;
  border:1px #C8C8C8 dashed;
  background-color:#E8E8E8;
  cursor:pointer;
} 


.addContainer{  
  font-size:1.5em;
  color:#C8C8C8;
  width: 230px;
  height: 300px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}
/*-----------------------------------------------------------*/
#newQuote {
  color:#555;
}
#quoteImageSelection 
{
	width: 50%;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	font-size:1.25em;
	text-align: center;
	vertical-align: middle;
	border:1px #C8C8C8 solid;
	background-color:#F8F8F8;
	border-radius: 12px;
}
#quoteImageSelection .option
{
	height: 100px;
	width:100%;
}
#quoteImageSelection  label
{
	font-weight:normal;
	padding-left:5px;
	padding-right:5px;
}

#quoteImageSelection.input input
{
font-size:.75em;
width:100%;
text-align:center !important;
height:auto !important;
}
#quoteImagePreview
{
margin-bottom:5px;
width:100%;
height:450px;
}
#quoteImagePreview div
{
float:left;
}
#quoteImagePreview img
{	
	width:260px;
	max-height:300px;
	margin-left:auto;
	margin-right:auto;
	
	padding:15px;
	margin-bottom:15px;
}
