<!DOCTYPE html>
<html ng-app="sb004">

<head>
	<meta charset="utf-8" />
	<title>SB004</title>
	<link data-require="bootstrap-css@*" data-semver="2.3.2" rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
	<link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
	
</head>

<body>
  <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="searchCtrl">
    <form class="search" role="search">
	<div class="row">
		<div class="col-md-12" id="searchContainer">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for meme" name="srch-term" id="srch-term" />
                <div class="input-group-btn">
					<button type="button" class="btn btn-default " ng-click="search()">
						<span class="fa fa-search"></span> 
					</button>
                    <div class="btn-group" role="group">

                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span ng-show="isAuthenticated">{{userName}}</span>
                                <span class="fa fa-cog" ng-show="isAuthenticated"></span>
                                <span class="fa fa-caret-down" ng-show="isAuthenticated"></span>
								<span class="fa fa-bars" ng-show="!isAuthenticated"></span>
							</button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
									<div class="form-group" ng-show="isAuthenticated">
                                        <div class="contextOption" ng-click="home()"><i class="fa fa-home"></i> Home</div>
										<div class="contextOption" ng-click="addNew()"><i class="fa fa-plus"></i> Add a new Post</div>
                                        <div class="contextSeparator" ><hr/></div>
										<div class="contextOption" ng-click="editMyProfile()"> <i class="fa fa-user"></i> Edit my Profile</div>
                                        <div class="contextOption" ng-click="viewMyPosts()"><i class="fa fa-list"></i> View my Posts</div>
                                        <div class="contextSeparator" ><hr/></div>
										<div class="contextOption" ng-click="signOut()"><i class="fa fa-lock"></i> Sign Out</div>
									</div>  
									<div class="form-group" ng-show="!isAuthenticated">
                                        <div class="contextOption" ng-click="home()"><i class="fa fa-home"></i> Home</div>
                                        <div class="contextOption" ng-click="addNew()"><i class="fa fa-plus"></i> Add a new Post</div>
                                        <div class="contextSeparator" ><hr/></div>
										<div class="contextOption" ng-click="signIn()"><i class="fa fa-unlock"></i> Sign In</div>
										<div class="contextOption" ng-click="signUp()"><i class="fa fa-pencil-square-o"></i> Sign up now</div>
										<div class="contextOption" ng-click="socialSignIn()"><i class="fa fa-users"></i> Social Media Sign In</div>
									</div> 								  
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
          </div>
        </div>

</div>	  
</form>
  </div>
    <div id="view" ng-view="" blurry="view"></div>
    <script data-require="jquery@*" data-semver="2.1.1" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script data-require="ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <link rel="stylesheet" href="Content/css/style.css" />
	<link rel="stylesheet" href="Content/css/memeView.css" />
	<link rel="stylesheet" href="Content/css/favourites.css" />
	<link rel="stylesheet" href="Content/css/repost.css" />
	<link rel="stylesheet" href="Content/css/report.css" />
	<link rel="stylesheet" href="Content/css/userMemes.css" />
	<link rel="stylesheet" href="Content/css/logIn.css" />
    <link rel="stylesheet" href="Content/css/profile.css" />    	
    <script src="Scripts/html2canvas.js"></script>
    <script src="Scripts/hello.js"></script>
    <script src="Scripts/app/app.js"></script>
    <script src="Scripts/app/directives/dragDropResize.js"></script>
    <script src="Scripts/app/services/sharedDataService.js"></script>
    <script src="Scripts/app/services/renderingService.js"></script>
    <script src="Scripts/app/services/helloService.js"></script>
    <script src="Scripts/app/services/securityService.js"></script>
    <script src="Scripts/app/services/authInterceptorService.js"></script>    
	<script src="Scripts/app/services/memeWizardService.js"></script> 
	<script src="Scripts/app/services/likeDislikeMemeService.js"></script> 
    <script src="Scripts/app/controllers/searchCtrl.js"></script>
    <script src="Scripts/app/controllers/homeCtrl.js"></script>
    <script src="Scripts/app/controllers/memeSelectConfirmImageCtrl.js"></script>
    <script src="Scripts/app/directives/dropZoneDirective.js"></script>
	<script src="Scripts/app/directives/ngMemeLink.js"></script>
	<script src="Scripts/app/directives/ngFocus.js"></script>	
    <script src="Scripts/app/directives/ngBlurry.js"></script>
    <script src="Scripts/app/directives/ngUserHover.js"></script>
    <script src="Scripts/app/services/upload.js"></script>
    <script src="Scripts/app/controllers/memeApplyTextCtrl.js"></script>
    <script src="Scripts/app/controllers/memePublishAndShareCtrl.js"></script>
    <script src="Scripts/app/controllers/logInCtrl.js"></script>
	<script src="Scripts/app/controllers/memeViewCtrl.js"></script>
	<script src="Scripts/app/controllers/favouritesCtrl.js"></script>
	<script src="Scripts/app/controllers/repostCtrl.js"></script>
	<script src="Scripts/app/controllers/reportCtrl.js"></script>	
	<script src="Scripts/app/controllers/userMemesCtrl.js"></script>
    <script src="Scripts/app/controllers/profileCtrl.js"></script>
    <script src="Scripts/domvas.js"></script>
</body>

</html>
