<div ng-controller="homeCtrl">
  <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container searchResultsContainer rounded col-md-12 col-sm-12">
      <div class="quote addQuote panel" title="Click here to start a new Meme" ng-click="memeSelectConfirmImage()">
        <div class="qContainer">
          <div id="addQuote">Add</div>
          <span class="glyphicon glyphicon-plus"></span>
        </div>
      </div>
      <div class="quote panel" ng-repeat="quote in quotes" title="{{quote.title}}">
        <div class="quoteHeader">
          <span>{{quote.createdBy}}</span>
          <div class="when">{{quote.dateCreated  | date:'longDate'}} (<span class="glyphicon glyphicon-heart" title="This meme has received {{quote.upVotes}} positive votes"></span> {{quote.votes}})</div> 
        </div>
        <img ng-src="/api/image/{{quote.id}}" alt="{{quote.title}}" ng-click="viewMeme(quote.id)"/>
        <div class="quoteFooter">
          <div class="options">
            <span class="fa fa-retweet" title="Requote this! Add a new meme based on this one."></span>
            <span class="glyphicon glyphicon-star" title="Add this meme to my favourites!"></span>
            <span class="glyphicon glyphicon-heart" title="Click to love this meme"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>