<div ng-controller="homeCtrl">

	<div class="toolbar col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="btn-group pull-left">
			<button type="button" class="btn btn-default" ng-class="{ 'active': (view=='trending') }"
				ng-click="switchView('trending')">
				<i class="fa fa-thumbs-o-up"></i>
				trending
			</button>
			<button type="button" class="btn btn-default " ng-class="{ 'active': (view=='following') }"
				ng-click="switchView('following')">
				<i class="fa fa-users"></i>
				following 
			</button>
			
		</div>
		<div class="container pull-left" ng-show="view=='following'">
			<button type="button" class="btn btn-default " >
				<i class="fa fa-user"></i>
				following 
			</button>
		</div>
	</div>
	
    <div class="container searchResultsContainer rounded col-md-12 col-sm-12">	
		<button type="button" class="pull-left" ng-click="addNew()">
			<i class="fa fa-plus"></i>
			Add
		</button>
		<div ng-repeat="meme in memes" class="pull-left">			
			<div ng-memelink ng-model="meme" 
							on-click="viewMeme(meme.id)" 
							on-like="likeMeme(meme.id)"
							on-dislike="dislikeMeme(meme.id)"
							on-addtofavourites="addMemeToFavourites(meme.id)"
							on-userclick="openUser(meme.createdByUserId)"></div>
		</div>
    </div>
  <!--
  <div id="viewOptions">
		<div id="byTrend"></div>
		<div id="byfollowing"></div>
	</div>
	<div id="byfollowingView" class="container searchResultsContainer rounded col-md-12 col-sm-12">
	</div>
	<div id="byTrendView" class="container searchResultsContainer rounded col-md-12 col-sm-12">
	</div>
  -->
</div>