<div>

	<div class="toolbar col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="btn-group pull-left">
			<button type="button" class="btn btn-default " ng-class="{ 'active': (view=='following') }"
				ng-click="switchView('following')">
				<i class="fa fa-home"></i>
				My Home 
			</button>	
			<button type="button" class="btn btn-default" ng-class="{ 'active': (view=='trending') }"
				ng-click="switchView('trending')">
				<i class="fa fa-hashtag" aria-hidden="true"></i>
				<b># </b>Trending
			</button>            		
		</div>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default" ng-click="addNew()">
				<i class="fa fa-plus"></i>
				Add a new Post
			</button>
		</div>		
	</div>
	<div class="toolbar col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="btn-group pull-left" ng-repeat="user in following" ng-show="view=='following'">
			<button type="button" class="btn btn-default "  ng-userhover ng-user="user">
				<img class='userImageSmall' ng-src='api/image/user/{{user.id}}'></img>
				{{user.userName}} 
			</button>
		</div>
	</div>
    <div class="container searchResultsContainer rounded col-md-12 col-sm-12" ng-show="view=='trending'">	

		<div ng-repeat="meme in memes" class="pull-left">			
			<div ng-memelink ng-model="meme" 
							on-click="viewMeme(meme.id)" 
							on-like="likeMeme(meme.id)"
							on-dislike="dislikeMeme(meme.id)"
							on-addtofavourites="addMemeToFavourites(meme.id)"
							on-userclick="openUser(meme.createdByUserId)"></div>
		</div>
    </div>
    <div id="homeMemes" class="container searchResultsContainer rounded col-md-12 col-sm-12" ng-show="view=='following'">
        <div id="leftSideBar" class="col-lg-3 col-md-3 hidden-sm hidden-xs card sideBar sideBarLeft rounded">
            <div class="homePageOptionContainer">
                <div class="homePageOption"><a class="hot" ng-click="addNew()"><i class="fa fa-plus"></i> Add a new Post</a></div>            
                <div class="homePageOption"><a class="hot" ng-click="viewMyPosts()"><i class="fa fa-clock-o"></i> View my timeline and followers</a></div>
                <div class="homePageOption"><a class="hot" ng-click="editMyProfile()"><i class="fa fa-user"></i> Change my profile and password</a></div>
                <div class="homePageOption"><a class="hot" ng-click="signOut()"><i class="fa fa-lock"></i> Sign Out</a></a></div>
            </div> 
            <div class="head col-lg-12 col-md-12 col-sm-12 col-xs-12"># Our trends</div> 
		</div>	        
        <div class="pull-left col-lg-6 col-md-6 col-sm-12 col-xs-12">	
            <div id="waitingFrame" ng-show="waiting" class="pull-left col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="waiting" class="waitingContainer dialogWaitConainer">
                    <div class="waitGraphic dialogWaitGraphic  col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
                </div>	
            </div> 
            <div ng-repeat="item in items" ng-hide="waiting" class="pull-left col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10 col-xs-offset-2 col-xs-10">
                <div class="pull-left">
                    <div class="pushDown4" ng-memelink ng-model="item.meme"
                                    on-click="viewMeme(item.meme.id)" 
                                    on-like="likeMeme(item.meme)"
                                    on-dislike="dislikeMeme(item.meme)"
                                    on-addtofavourites="addMemeToFavourites(item.meme.id)">
                    </div>
                    <div id="addNewComment" class="pull-left" title="Type your comment and press enter or return. Maximum length 250 characters. ">
                        <div id="addCommentImage" class="pull-left">
                            <img class="userImageSmall" ng-src="api/image/user/{{userId}}">
                        </div>
                        <div id="addCommentText" class="pull-left">
                            <textarea type="text" value="" placeholder="Add a new comment...hit enter to send" maxlength="250"                                 
                                ng-model="item.newUserComment" ng-keypress="($event.which === 13)?addComment(item.meme.id, item.newUserComment):0">						
                            </textarea>
                        </div>     
					</div>                    
                    <div ng-repeat="entry in item.timelineEntries" class="pull-left timeLineDescription" >                        
                        <div class="pull-left">
                            <img class="userImageSmall" ng-src="api/image/user/{{entry.userId}}">
                        </div>
                        <div class="pull-left text">
                            <span class="dateofEntry"> {{entry.dateOfEntry | date:'short'}}</span>
                            <span ng-click="openUser(entry.user.id)" class="allowFollow " 
                                ng-userhover ng-user="entry.user">
                                {{user.id == entry.user.id? 'you' : entry.user.userName}}
                            </span>					 
                            <span ng-show="entry.entryType==1"> posted a new quote.</span>
                            <span ng-show="entry.entryType==2"> requoted {{item.meme.createdByUserId==userId?'your': 'this'}} quote.</span>
                            <span ng-show="entry.entryType==3"> {{user.id == entry.user.id? 'like' : 'likes'}} {{item.meme.createdByUserId==userId?'your': 'this'}} quote.</span>
                            <span ng-show="entry.entryType==4"> {{user.id == entry.user.id? 'dislike' : 'dislikes'}} {{item.meme.createdByUserId==userId?'your': 'this'}}  quote.</span>
                            <span ng-show="entry.entryType==5"> replied to {{item.meme.createdByUserId==userId?'your': 'this'}} quote:</span>
                            <span ng-show="entry.entryType==6"> commented</span>
                        </div>
                        <div class="icon pull-right">
                            <i class="fa fa-quote-left" ng-show="entry.entryType==1"></i>
                            <i class="fa fa-retweet" ng-show="entry.entryType==2"></i>
                            <i class="fa fa-thumbs-o-up" ng-show="entry.entryType==3"></i>
                            <i class="fa fa-thumbs-o-down" ng-show="entry.entryType==4"></i>
                            <i class="fa fa-reply" ng-show="entry.entryType==5"></i>
                            <i class="fa fa-comments-o" ng-show="entry.entryType==6"></i>						
                        </div>
                        <div class="pull-left timeLineComment commentary" ng-show="entry.entryType==6" >
                            {{entry.userComment.comment}} 
                        </div>
                        <div class="pull-left timeLineReplyMeme" ng-show="entry.entryType==5" >
                            <div ng-memelink ng-model="entry.alternateMeme" ng-show="entry.entryType==5" 
                                    on-click="viewMeme(entry.alternateMeme.id)" 
                                    on-like="likeMeme(entry.alternateMeme.id)"
                                    on-dislike="dislikeMeme(entry.alternateMeme.id)"
                                    on-addtofavourites="addMemeToFavourites(entry.alternateMeme.id)">
                            </div>
                        </div>
                    </div>
                    <div id="moreEntries" scroll-to="showMore" ng-click="showMoreEntries(item.meme.id)" ng-show="item.hasMore"
                            class="pushDown2 option text-center section col-lg-12 col-md-12 hidden-sm hidden-xs" 
                            title="Get more items">
                        <i class="fa fa-cloud-download"></i><span>&nbsp; Show {{$scope.maxCount}} more entries for this quote</span>
                    </div>
                </div>
            </div> 
            <div id="moreTimeLine" scroll-to="showMore" ng-click="showMore()" class="option text-center section col-lg-10 col-md-12 hidden-sm hidden-xs" 
					title="Get more items">
				<i class="fa fa-cloud-download"></i><span>&nbsp; Show More </span>
			</div>
        </div> 
		<div id="rightSideBar" class="col-lg-3 col-md-3 hidden-sm hidden-xs card sideBar sideBarRight rounded">
			<div class="head col-lg-12 col-md-12 col-sm-12 col-xs-12">Sponsors</div>
		</div>                     
    </div>
</div>