<div id="logIn">
    <div class="heading">
        <h3>Log into SB004</h3>
        <div class="closeMe closeIcon" ng-click="closeMe()"><span class="fa fa-times"></span></div>
        <p>
            To continue please log in using the options below
        </p>
        <div id="logInOptions">
			<div class="logInButton logInButtonFacebook">
				<div class="logInInner logInInnerFaceBook" >
					<div class="logInText">Log In with Facebook</div>				
				</div>		
			</div>
			<div class="logInButton logInButtonTwitter">
				<div class="logInInner logInInnerTwitter" >
					<div class="logInText">Log In with Twitter</div>				
				</div>		
			</div>			
			<div class="logInButton logInButtonGoogle">
				<div class="logInInner logInInnerGoogle" >
					<div class="logInText">Log In with Google</div>				
				</div>		
			</div>
        </div>
        <div class="buttons">
            <input type="button" value="No Thanks" ng-click="closeMe()"/>
        </div>	
    </div>
</div>