<div id="memeView">
    <div id="memeViewInternal" class="rounded">
		<div id="leftBar">
			<div id="responseToMeme">
			</div>
			<div id="socialMedia">
				<div id="faceBook"></div>
				<div id="twitter"></div>
				<div id="google"></div>
				<div id="pinterest"></div>
				<div id="more"></div>
			</div>
		</div>
		<div id="middle">
			<div id="moveToPreviousMeme"></div>
			<div id="currentMemeContainer">
				<div id="currentMemeInfo">
					<div id="user"></div>
					<div id="views"></div>
					<div id="likes"></div>
					<div id="dislikes"></div>
					<div id="shares"></div>					
				</div>
				<div id="currentMeme"></div>
				<div id="currentMemeTags"></div>
				<div id="currentMemeOptions">
					<div id="replyToMeme"></div>
					<div id="upVoteMeme"></div>
					<div id="downVoteMeme"></div>
					<div id="reportMeme"></div>
					<div id="addMemeToFavourites"></div>
				</div>
			</div>
			<div id="moveToNextMeme"></div>
		</div>
		<div id="rightBar">
			<div id="moveToPreviousReplies"></div>
			<div id="currentMemeReplies">
				<div class="reply"></div>
				<div class="reply"></div>
				<div class="reply"></div>
				<div class="reply"></div>
				<div class="reply"></div>
			</div>
			<div id="moveToNextReplies"></div>
		</div>
    </div>
</div>