<div id="memeView" class="container searchResultsContainer rounded col-md-12 col-sm-12">
	<div id="memeViewCurrent" class="container rounded col-md-12 col-sm-12">
		<div id="bigOptions" class="pull-left hidden-sm hidden-xs">
			<div id="back" ng-show="meme.responseToId!=null" ng-click="viewMeme(meme.responseToId)" class="option text-center section col-lg-12 col-md-12 hidden-sm hidden-xs"
							title="Return to the post that this is in response to.">
				<i class="fa fa-arrow-circle-o-left"></i><span >&nbsp; Back to conversation</span>
			</div>
			<div id="home" ng-show="meme.responseToId==null" ng-click="viewMeme(meme.responseToId)" class="option text-center section col-lg-12 col-md-12 hidden-sm hidden-xs"
							title="This is the first post in this conversation. Click here to return to the home page.">
				<i class="fa fa-home"></i><span>&nbsp; Home</span>
			</div>			
			<div id="respond" ng-click="respond()" class="option text-center section col-lg-12 col-md-12 hidden-sm hidden-xs"
				title="Respond to this with a new post.">
				<i class="fa fa-reply"></i><span>&nbsp; Respond</span>
			</div>	
			<div id="respondFromFavourites" ng-click="respondFromFavourites()" class="option text-center section col-lg-12 col-md-12 hidden-sm hidden-xs"
				title="Respond to this with an existing post from your list of favourites.">
				<i class="fa fa-reply"></i><span>&nbsp; Respond from favourites</span><i class="fa fa-star"></i>
			</div>				
			<div id="repost" ng-click="repost()" class="option text-center section col-lg-12 col-md-12 hidden-sm hidden-xs" 
					title="Repost this, and begin a new discussion thread among your followers.">
				<i class="fa fa-recycle"></i><span>&nbsp; Repost</span>
			</div>
			<div id="report" ng-click="report()" class="option text-center section col-lg-12 col-md-12 hidden-sm hidden-xs" 
					title="Are you insulted or offended by this? If so click here to report this image. Obscene or hurtful posts are not tolerated and will be removed. Repeat offenders will be evicted from this site.">
				<i class="fa fa-exclamation-triangle"></i><span>&nbsp; Report</span>
			</div>
		</div>		
		<div id="socialMedia" class="text-center hidden-sm hidden-xs">
			
			<a href="http://www.facebook.com/sharer.php?u={{url}}" target="_blank">
				<div title="Click here to share on Facebook" class="info share facebook">
					<span class="fa fa-facebook"></span><div>7K</div>
				</div>
			</a>	
			<a href="https://twitter.com/share?url={{url}}" target="_blank">
				<div title="Click here to tweet on twitter" class="info share twitter">
					<span class="fa fa-twitter"></span><div>62K</div>
				</div>
			</a>
			<a href="https://plus.google.com/share?url={{url}}" target="_blank">
				<div title="Click here to share in Google+" class="info share google" >
					<span class="fa fa-google-plus"></span><div>129</div>
				</div>
			</a>			

			<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
				<div title="Click here to pin on Pinterest" class="info share pinterest">
					<span class="fa fa-pinterest"></span><div>560</div>
				</div>
			</a>			
		</div>
		<div id="leftSpace" class="pull-left hidden-sm hidden-xs"/>
		<div id="main" class="pull-left">
			<div id="currentMemeInfo" class="sectionHeading col-md-12 col-lg-12 col-sm-12 col-xs-12">		
				<div id="createdBy" class="col-md-6 col-lg-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
					<span class="fa fa-user"></span> {{meme.createdBy}} 
				</div>
				<div id="dateCreated" class="when col-md-6 col-lg-6 hidden-sm hidden-xs text-right">
					<span class="fa fa-clock-o"></span> {{meme.dateCreated | date:'medium'}}
				</div>
				<div id="createdBy" class="col-sm-12 col-xs-12 hidden-md hidden-lg text-center">
					<span class="fa fa-user"></span> {{meme.createdBy}} | {{meme.dateCreated | date:'short'}}					
				</div>					
			</div>
			<div id="currentMemeContainer" class="imageContainer section col-md-12 col-lg-12 col-sm-12 col-xs-12">	
				<div id="frame">
					<img ng-src="/api/image/{{meme.id}}" class="image"/>	
					<div id="currentMemeStats" class="col-md-12 col-lg-12">
						<div class="pull-left">
							<div ng-click="likeMeme(meme.id)" title="I like this" class="info stat hot">
								<i class="fa fa-thumbs-o-up"></i><span>{{meme.likes}}</span>
							</div>	
							<div ng-click="dislikeMeme(meme.id)" title="I dislike this" class="info stat hot">
								<i class="fa fa-thumbs-o-down"></i><span>{{meme.dislikes}}</span>
							</div>	
							<div ng-click="addMemeToFavourites(meme.id);" 
								  title="{{isUserFavourite?'Already one of my favourites. Click to open Favourites':'Add to my favorites (requires sign in)'}}" 
								  class="info stat hot"
								  ng-class="{'isFavourite': isUserFavourite}">
								<i class="fa fa-star"></i><span>{{meme.favourites}}</span>
							</div>					
						</div>
						<div  class="pull-right">
							<div title="The number times this meme has been viewed" class="info stat">
								<i class="fa fa-eye"></i><span>{{meme.views}}</span>
							</div>	
							
							<div title="The number times this meme has been shared" class="info stat">
								<i class="fa fa-share-alt"></i><span>{{meme.shares}}</span>
							</div>						
						</div>				
					</div>					
				</div>			
				
			</div>
			<div id="Options" class="section col-lg-12 col-md-12 hidden-sm hidden-xs">
				<div class="text-center col-lg-4 col-md-4">
					<div id="back" ng-show="meme.responseToId!=null" ng-click="viewMeme(meme.responseToId)" class="option text-center"
									title="Return to the post that this is in response to.">
						<i class="fa fa-arrow-circle-o-left"></i><span >&nbsp; Back to conversation</span>
					</div>
					<div id="home" ng-show="meme.responseToId==null" ng-click="viewMeme(meme.responseToId)" class="option text-center"
									title="This is the first post in this conversation. Click here to return to the home page.">
						<i class="fa fa-home"></i><span>&nbsp; Home</span>
					</div>	
				</div>
				<div class="text-center col-lg-4 col-md-4">
					<div id="repost" ng-click="repostMeme(meme.id)" class="option text-center" 
							title="Repost this, and begin a new discussion thread among your followers.">
						<i class="fa fa-recycle"></i><span>&nbsp; Repost</span>
					</div>
				</div>
				<div class="text-center col-lg-4 col-md-4">
					<div id="report" ng-click="report()" class="option text-center" 
							title="Are you insulted or offended by this? If so click here to report this image. Obscene or hurtful posts are not tolerated and will be removed. Repeat offenders will be evicted from this site.">
						<i class="fa fa-exclamation-triangle"></i><span>&nbsp; Report</span>
					</div>	
				</div>				
			</div>
			<div id="" class="section hidden-lg hidden-md col-md-12 col-lg-12 col-sm-12 col-xs-12">	
				<div id="smallOptions" class=" text-center hidden-lg hidden-md col-lg-12 col-sm-12 col-xs-12">
					<button ng-show="meme.responseToId!=null" ng-click="viewMeme(meme.responseToId)"title="">
							<span class="fa fa-arrow-circle-o-left"></span>
					</button>
					<button ng-show="meme.responseToId==null" ng-click="viewMeme(meme.responseToId)"title="">
							<span class="fa fa-home"></span>
					</button>
					<button ng-click="respond()" title="Respond to this with a new post.">
							<span class="fa fa-reply"></span>
					</button>
					<button ng-click="respond()" title="Respond to this with an existing post form you list of favourites.">
							<span class="fa fa-reply">*</span>
					</button>	
					<button ng-click="repost()" title="Repost this, and begin a new discussion thread among your followers.">
							<span class="fa fa-recycle"></span>
					</button>		
					<button ng-click="report()" title="Report this, and begin a new discussion thread among your followers.">
							<span class="fa fa-exclamation-triangle"></span>
					</button>
					<div id="socialButtonsSmall">
						<button title="Click here to share on Facebook">
							<span class="fa fa-facebook"></span>
						</button>
						<button title="Click here to tweet on twitter">
							<span class="fa fa-twitter"></span>
						</button>
						<button title="Click here to share in Google+">
							<span class="fa fa-google-plus"></span>
						</button>				
						<button title="Click here to pin on Pinterest">
							<span class="fa fa-pinterest"></span>
						</button>
					</div>
				</div>					
			</div>				
			<div id="commentsContainer" class="pull-left col-lg-12 col-md-12 col-sm-12">
			<div id="commentsHeading" class="rounded sectionHeading">
				<i class="fa fa-comments-o"></i><span >&nbsp; Comments ({{meme.userCommentCount}})</span>
				<div class="pull-right" ng-click="refreshComments()" title="Click here to Refresh">
					<i class="fa fa-refresh hot"></i>
				</div>
			</div>
			<div id="comments" class="rounded section">			
				<div id="addComment">
					<div ><i class="fa fa-user"></i><span >&nbsp; {{userName}}</span></div>
					<div>
						<textarea type="text" value="" placeholder="Enter you comment here...max characters 1000" maxlength="1000"
							ng-model="userComment" 
							ng-keypress="($event.which === 13)?addComment():0">
						</textarea>
					</div>
				</div>

				<div ng-repeat="userComment in userComments | orderBy: '-dateCreated'" class="pull-left userComment">
					
					<div class="userCommentHeading">
						<div class="pull-left">
							<i ng-hide="userComment.userName.length==0" class="fa fa-user"></i>
							<span ng-class="{'allowFollow': userComment.userName.length>0, 'noFollow': userComment.userName.length==0}">{{userComment.userName.length>0?userComment.userName :"Anonymous"}}</span>
							&nbsp;
							<span >{{userComment.dateCreated | date:'short'}}</span>
						</div>
						<div class="pull-right">
							<span ng-click="likeComment(userComment.id)" title="I like this" class="info stat hot">
								<i class="fa fa-thumbs-o-up"></i><span>{{userComment.likes}}</span>
							</span>	
							<span ng-click="dislikeComment(userComment.id)" title="I dislike this" class="info stat hot">
								<i class="fa fa-thumbs-o-down"></i><span>{{userComment.dislikes}}</span>
							</span>	
						</div>
					</div>
					<div class="userCommentText pull-left ">					
						{{userComment.comment}}
					</div>
				</div>
				<div id="moreComments" ng-click="getMoreComments()" ng-show="allowGetMoreComments" class="option text-center section col-lg-12 col-md-12 hidden-sm hidden-xs" 
						title="Get more comments">
					<i class="fa fa-cloud-download"></i><span>&nbsp; Show More Comments</span>
				</div>
			</div>
		</div>			
		</div>	
		<div id="repliesContainer" class="hidden-sm hidden-xs hidden-md">
			<div id="repliesHeading" class="rounded sectionHeading col-lg-12 col-md-12">
				<i class="fa fa-inbox"></i><span >&nbsp; Responses ({{meme.replyCount}})</span>
				<div class="pull-right" ng-click="refreshReplies()" title="Click here to Refresh">
					<i class="fa fa-refresh hot"></i>
				</div>
			</div>			
			<div id="replies" class="rounded section col-lg-12 col-md-12">	
				<div class="text-center col-lg-12 col-md-12">
					<div id="respond" ng-click="respond()" class="option text-center col-lg-5 col-md-5"
					title="Respond to this with a new post.">
						<i class="fa fa-reply"></i><span>&nbsp; Respond</span>
					</div>	
					<div id="respondFromFavourites" ng-click="respondFromFavourites()" class="option text-center col-lg-5 col-md-5 pull-right"
						title="Respond to this with an existing post from your list of favourites.">
						<i class="fa fa-reply"></i><span>&nbsp; Favorites </span>
					</div>
				</div>	
				<div id="noReplies" class="rounded sectionHeading text-center  col-lg-12 col-md-12"
					ng-hide="replies.length>0">
					No reponses yet. Be the first!
				</div>
				<div ng-repeat="reply in replies" class="pull-left col-md-12 col-lg-12 col-sm-12">			
					<div ng-memelink ng-model="reply" 
									on-click="viewMeme(reply.id)" 
									on-like="likeMeme(reply.id)"
									on-dislike="dislikeMeme(reply.id)"
									on-addtofavourites="addMemeToFavourites(reply.id)"></div>
				</div>
				<div id="moreReplies" ng-click="getMoreReplies()" ng-show="allowGetMoreReplies" class="option text-center section col-lg-12 col-md-12 hidden-sm hidden-xs" 
						title="Get more responses">
					<i class="fa fa-cloud-download"></i><span>&nbsp; Show More Responses</span>
				</div>
			</div>
		</div>
	</div>
</div>