<div id="memeView">
    <div id="memeViewInternal" class="rounded">
		<!--<div class="heading dialogHead" ng-hide="waiting">
			<div class="closeMe closeIcon"  ng-click="closeMe()"><span class="fa fa-times"></span></div>				
		</div>	-->
		<div id="main" class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
			<div id="moveToPreviousMeme"></div>
			<div id="currentMemeInfo" class="section col-md-12 col-lg-12 col-sm-12 col-xs-12">		
				<div id="createdBy" class="col-md-6 col-lg-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
					<span class="fa fa-user"></span> {{meme.createdBy}} 
				</div>
				<div id="dateCreated" class="when col-md-6 col-lg-6 hidden-sm hidden-xs text-right">
					<span class="fa fa-clock-o"></span> {{meme.dateCreated | date:'medium'}}
				</div>
				<div id="createdBy" class="col-sm-12 col-xs-12 hidden-md hidden-lg text-center">
					<span class="fa fa-user"></span> {{meme.createdBy}} 
				</div>					
			</div>
			<div id="" class="section col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<div id="socialMedia" class="col-md-7 col-lg-7 hidden-sm hidden-xs">
					<div title="Click here to share on Facebook" class="info share facebook">
						<span class="fa fa-facebook"></span><div>7K</div>
					</div>
					<div title="Click here to tweet on twitter" class="info share twitter">
						<span class="fa fa-twitter"></span><div>62K</div>
					</div>
					<div title="Click here to share in Google+" class="info share google" >
						<span class="fa fa-google-plus"></span><div>129</div>
					</div>
					<div title="Click here to pin on Pinterest" class="info share pinterest">
						<span class="fa fa-pinterest"></span><div>560</div>
					</div>
				</div>	
				<div id="currentMemeStats" class="col-md-5 col-lg-5 hidden-sm hidden-xs">
					<div title="The number times this meme has been shared" class="info stat">
						<span class="fa fa-share-alt"></span><div>70K</div>
					</div>
					<div title="The number times this meme has been liked or approved" class="info stat">
						<span class="fa fa-heart"></span><div>110K</div>
					</div>	
					<div title="The number times this meme has been viewed" class="info stat">
						<span class="fa fa-eye"></span><div>120K</div>
					</div>				
				</div>	
				<div id="socialMediaTiny" class=" text-center hidden-lg hidden-md col-lg-12 col-sm-12 col-xs-12">
					<button title="Click here to share on Facebook">
						<span class="fa fa-facebook"></span>
					</button>
					<button title="Click here to tweet on twitter">
						<span class="fa fa-twitter"></span>
					</button>
					<button title="Click here to share in Google+">
						<span class="fa fa-google-plus"></span>
					</button>				
					<button title="Click here to pin on Pinterest">
						<span class="fa fa-pinterest"></span>
					</button>							
				</div>					
			</div>
			<div id="currentMemeContainer" class="imageContainer section col-md-12 col-lg-12 col-sm-12 col-xs-12">	
				<img ng-src="api/image/{{meme.id}}" class="image"/>						
			</div>
			<div id="currentMemeOptions" class="section text-center col-md-12 col-lg-12 col-sm-12 col-xs-12">	
				<button title="Click to respond to this meme, with a meme of your own">
					<span class="fa fa-reply"></span><span class="hidden-xs ">&nbsp; Respond</span>
				</button>
				<button title="Requote this meme and begin a new thread of discussion among your followers.">
					<span class="fa fa-recycle"></span><span class="hidden-xs ">&nbsp; Recycle</span>
				</button>
				<button title="Click to approve this meme. Most approved memes are ranked highest.">
					<span class="fa fa-heart"></span><span class="hidden-xs ">&nbsp; Approve</span>
				</button>				
				<button title="Are you insulted or offended by this? If so click here to report this image. Obscene or hurtful memes are not tolerated and will be removed. Repeat offenders will be evicted from this site.">
					<span class="fa fa-exclamation-triangle"></span><span class="hidden-xs ">&nbsp; Report</span>
				</button>				
			</div>
			
		</div>
		<div id="rightBar" class="col-md-3 col-lg-3 hidden-sm hidden-xs">
			<div id="moveToPreviousReplies"></div>
			<div id="currentMemeReplies">
				<div class="reply"></div>
				<div class="reply"></div>
				<div class="reply"></div>
				<div class="reply"></div>
				<div class="reply"></div>
			</div>
			<div id="moveToNextReplies"></div>
		</div>
    </div>
</div>