<div id="profile" class="dialogPage">
	<div class="heading dialogHead" ng-hide="waiting">		
		<h3><i class="fa fa-user"></i> My SB004 Profile</h3>			
		<div class="closeMe closeIcon"  ng-click="closeMe()"><span class="fa fa-times"></span></div>				
	</div>	
    <div class="dialogBody" ng-hide="waiting">
		<div class="form-group col-lg-12 col-md-12 col-sm-12" >	
			<div class="col-lg-7 col-md-7 col-sm-7">	
				<img class='userImage rounded'ng-src='{{profileImageLink}}'></img>
				<div ng-show="showChangeImage && profileImageLink" ng-click="clearProfileImage()" class="hot" >
					<span class="fa fa-eraser" ></span>
					<a href='javascript:void(0);'>Clear profile image</a>
				</div>	
				<input type="button" value="Clear" ng-show="showChangeName" ng-click="clearProfileImage()" />
				<input type="text" id="changeProfileImageLink" class="form-control" 
					ng-show="showChangeImage"
					ng-change="previewProfileImage()";
					placeholder="http://pasteLinkToYourNewImage.here"
					title="Paste a the URL to the new image you would like to use for your profile here."
					ng-model="changeProfileImageLink">		
								
			</div>	
			<div id="changeProfileImage" class="col-lg-5 col-md-5 col-sm-5">					
				<a href='javascript:void(0);'
					ng-click="showChangeImage=true;" 
					ng-hide="showChangeImage">Change profile image</a>
				<div>					
					<input type="button" value="Save" ng-show="showChangeImage" ng-disabled="!changeProfileImageLink" ng-click="saveProfileImage()"/>
					<input type="button" value="Cancel" ng-show="showChangeImage" ng-click="resetProfileImage()" />
				</div>	
			</div>		
		</div>	
		<div class="form-group col-lg-12 col-md-12 col-sm-12" ng-class="{'has-error':!changeProfileNameValid}">
			<div class="col-lg-7 col-md-7 col-sm-7">
				<label class="control-label">
					Name: 
				</label>
				<label>{{profileName}}</label>
				<input type="text" class="form-control" ng-show="showChangeName"
					placeholder="Enter your new profile name"
					ng-model="changeProfileName" 
					focus-on="ChangeProfileName">	
				<div ng-hide="changeProfileNameValid" class="text-error">
					{{changeProfileNameError}}
				</div>
			</div>	
			<div class="col-lg-5 col-md-5 col-sm-5">
				<a href='javascript:void(0);' 
					ng-click="showChangeName=true;" 
					ng-hide="showChangeName">
					Change profile name</a>
				<div>
					<input type="button" value="Save" ng-show="showChangeName" ng-click="saveProfileName()" />
					<input type="button" value="Cancel" ng-show="showChangeName" ng-click="resetProfileName()" />
				</div>
			</div>
		</div>		
	
		<div class="form-group col-lg-12 col-md-12 col-sm-12" ng-class="{'has-error':!changeProfileEmailValid}">
			<div class="col-lg-7 col-md-7 col-sm-7">
				<label class="control-label">
					Email:
				</label>
				<label> {{profileEmail}}</label>
				<input type="email"  class="form-control" ng-show="showChangeEmail"
					placeholder="Enter a new email address"
					ng-model="changeProfileEmail">
				<input type="email" class="form-control" ng-show="showChangeEmail"
					placeholder="Confirm your new email address"
					ng-model="confirmChangeProfileEmail">	
				<input type="password" class="form-control" ng-show="showChangeEmail"
					placeholder="Enter your Password to confirm action"
					ng-model="changeProfileEmailPasswordVerification">		
				<div ng-hide="changeProfileEmailValid" class="text-error">
					{{changeProfileEmailError}}
				</div>													
			</div>	
			<div class="col-lg-5 col-md-5 col-sm-5">
				<a href='javascript:void(0);' 
					ng-click="showChangeEmail=true;" 
					ng-hide="showChangeEmail">
					Change email address</a>
				<div>
					<input type="button" value="Save" ng-show="showChangeEmail" ng-click="saveProfileEmail()"/>
					<input type="button" value="Cancel" ng-show="showChangeEmail" ng-click="resetProfileEmail()" />
				</div>
			</div>
		</div>
		<div class="form-group col-lg-12 col-md-12 col-sm-12" ng-class="{'has-error':!changePasswordValid}" ng-show="nativeAuthentication">
			<div class="col-lg-7 col-md-7 col-sm-7">
				<label class="control-label">
					Password:
				</label>
				<label> **************************</label>
				<input type="password" class="form-control" ng-show="showChangePassword"
					placeholder="Enter your CURRENT Password"
					ng-model="existingProfilePassword">				
				<input type="password" class="form-control" ng-show="showChangePassword"
					placeholder="Enter a new Password"
					ng-model="changeProfilePassword">
				<input type="password" class="form-control" ng-show="showChangePassword"
					placeholder="Confirm your new Password"
					ng-model="confirmChangeProfilePassword">	
				<div ng-hide="changePasswordValid" class="text-error">
					{{changePasswordError}}
				</div>								
			</div>	
			<div class="col-lg-5 col-md-5 col-sm-5">
				<a href='javascript:void(0);' 
					ng-click="showChangePassword=true;" 
					ng-hide="showChangePassword">
					Change password</a>
				<div>
					<input type="button" value="Save" ng-show="showChangePassword" ng-click="saveProfilePassword()"/>
					<input type="button" value="Cancel" ng-show="showChangePassword" ng-click="resetProfilePasswordChange()" />
				</div>
			</div>			
		</div>
		<div class="form-group col-lg-12 col-md-12 col-sm-12">
			<div class="col-lg-7 col-md-7 col-sm-7">
				<label class="control-label">
					Connected using:
				</label>
				<label> {{authenticationProvider}}</label>	
				<input type="password" class="form-control" ng-show="showCloseAccount"
					placeholder="Enter your Password to confirm action"
					ng-model="closeAccountPasswordVerification">
					{{closeAccountError}}
				<div ng-hide="closeAccountValid" class="text-error">
						{{changeProfileEmailError}}
				</div>																				
			</div>	
			<div class="col-lg-5 col-md-5 col-sm-5">
				<a href='javascript:void(0);'  
					ng-click="showCloseAccount=true;" 
					ng-hide="showCloseAccount">
					Close this Account</a>
				<div>
					<input type="button" value="Close Account" ng-show="showCloseAccount" ng-click="closeAccount()"/>
					<input type="button" value="Cancel" ng-show="showCloseAccount" ng-click="showCloseAccount=false;" />
				</div>			
			</div>
		</div>				
    </div>	
	<div class="buttons dialogFoot" ng-hide="waiting">				
		<input type="button" value="Close" ng-click="closeMe()" title="Close this page"/>
	</div>
	<div id="waiting" ng-show="waiting" class="waitingContainer dialogWaitConainer">
		<div class="heading">
			<h3>{{waitHeading}}</h3>
			<div class="closeMe closeIcon" ng-click="closeMe()"><span class="fa fa-times"></span></div>
		</div>
		<div class="waitGraphic dialogWaitGraphic"/>
		<div class="waitMessage">{{waitMessage}}</div>
	</div>	
</div>