<div id="resetPassword" class="pull-left col-lg-offset-4 col-md-offset-4 col-lg-6 col-md-6 col-sm-12">
	<div class="pull-left rounded generalBorder">
        <div class="heading" ng-hide="waiting">		
            <h3>Reset My SB004 Password</h3>
            <em>
                To reset your SB004 password enter a new password below please
            </em>		
        </div>	
        <div class="col-lg-12 col-md-12 col-sm-12 pushDown4" ng-hide="waiting">
            <div class="form-group" ng-class="{'has-error':submitted && !newPassword}">
                <label for="newPassword" class="control-label">
                    * New Password:
                </label>					
                <div class="pull-right col-lg-6 col-md-6 col-sm-6">
                    <span class="pull-right help-block" ng-show="submitted && !newPassword">New Password is required</span>
                </div>
                <input type="password" id="newPassword" class="form-control" placeholder="Please enter your new password" 
                    ng-model="newPassword">					
            </div>
            <div class="form-group" ng-class="{'has-error':submitted && !confirmPassword}">
                <label for="confirmPassword" class="control-label">
                    * Confirm Password:
                </label>					
                <div class="pull-right col-lg-6 col-md-6 col-sm-6">
                    <span class="pull-right help-block" ng-show="submitted && !confirmPassword">Confirm password is required</span>
                </div>
                <input type="password" id="confirmPassword" class="form-control" placeholder="Please confirm your new password" 
                    ng-model="confirmPassword">					
            </div>  
            <div class="form-group has-error" ng-show="submitted && serverError">
                <span class="col-lg-12 help-block text-center">{{serverError}}</span>
            </div>      
        </div>
        <div class="buttons dialogFoot col-lg-12 col-md-12 col-sm-12" ng-hide="waiting">				
            <input type="button" value="Reset my Password" ng-click="resetPassword()" title="Click here to reset your password"/>
        </div>
        
        <div id="waiting" ng-show="waiting" class="waitingContainer dialogWaitConainer">
            <div class="heading">
                <h3>{{waitHeading}}</h3>
                <div class="closeMe closeIcon" ng-click="closeMe()"><span class="fa fa-times"></span></div>
            </div>
            <div class="waitGraphic dialogWaitGraphic"/>
            <div class="waitMessage">{{waitMessage}}</div>
        </div>
    </div>
</div>