<div ng-controller="userMemesCtrl">
	<div id="userMemes" class="container searchResultsContainer rounded col-md-12 col-sm-12">
		<div class="pull-left card userCard rounded col-lg-12 col-md-12 col-sm-12">
			<div class="userCardContainer">
				<div class="userImageContainer rounded pull-left">
					<img class='userImage rounded' ng-src='api/image/user/{{userId}}'></img>
				</div>  
				<div class="userNameContainer rounded pull-left col-lg-9 col-md-9 col-sm-9">
					<div>{{user.userName}}</div>
				</div>  
				<div class="userQuoteContainer rounded pull-left col-lg-9 col-md-12 col-sm-12">
					<div>
						<span class="fa fa-quote-left"></span>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 	<!--voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
						<span class="fa fa-quote-right"></span>
					</div>
				</div>  
							       
				<!--div class="userCardContainerUser">
					
					<div id="">{{user.userName}}</div>
					<div class="userStats">
						<span  title="Number of views {{user.userName}} has received">
							<i class="fa fa-eye"></i>{{user.views | nearestK}}
						</span>
						<span title="Number of likes {{user.userName }} has received">
						<i class="fa fa-thumbs-o-up" ></i>{{user.likes | nearestK}}
						</span>
						<span title="Number of dislikes {{user.userName}} has received">
						<i class="fa fa-thumbs-o-down" ></i>{{user.dislikes | nearestK}}
						</span>
						<span  title="Number of posts of {{user.userName}} that have been reposted">
							<i class="fa fa-retweet"></i>{{user.reposted | nearestK}}
						</span>
					</div>
				</div>
				<div class="userCardContainerOptions" ng-hide="waiting">
					<button id="follow" class="text-center follow" title="Click here to follow {{user.userName}}"
						ng-hide="isFollowing" ng-click="follow()">
						<i class="fa fa-plus"></i><span>&nbsp; Follow</span>
					</button>
					<button id="unfollow" class="text-center follow" title="Click here to stop following {{user.userName}}"
						ng-show="isFollowing" ng-click="unfollow()">
						<i class="fa fa-minus"></i><span>&nbsp; Unfollow</span>
					</button>					
					<div class="userCardContainerOptionsInfo" ng-show="isFollowing">You are currently following {{user.userName}}</div>
				</div-->
			</div>
		</div>
		<div class="userStats col-lg-12 col-md-12 col-sm-12">
			<div class="col-lg-2 col-md-2 col-sm-2 hot">
				<span  title="Number of posts {{user.userName}} has added">
					<i class="fa fa-plus"></i>{{0 | nearestK}} Posts
				</span>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 hot">
				<span  title="Number of posts of {{user.userName}} that have been reposted">
					<i class="fa fa-retweet"></i>{{user.reposted | nearestK}} reposts
				</span>
			</div>				
			<div class="col-lg-2 col-md-2 col-sm-2 hot">
				<span  title="Number of views {{user.userName}} has received">
					<i class="fa fa-eye"></i>{{user.views | nearestK}} Views
				</span>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 hot">
				<span title="Number of likes {{user.userName }} has received">
					<i class="fa fa-thumbs-o-up" ></i>{{user.likes | nearestK}} Likes
				</span>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 hot">
				<span title="Number of replies {{user.userName}} has received to posts">
					<i class="fa fa-reply" ></i>{{user.replies | nearestK}} Replies
				</span>
			</div>	
			<div class="col-lg-2 col-md-2 col-sm-2 hot">
				<span title="Number of comments {{user.userName}} has received to posts">
					<i class="fa fa-comments-o" ></i>{{user.comments | nearestK}} Comments
				</span>
			</div>							
		</div>	
		<div ng-repeat="meme in memes" class="pull-left">			
			<div ng-memelink ng-model="meme" 
							on-click="viewMeme(meme.id)" 
							on-like="likeMeme(meme.id)"
							on-dislike="dislikeMeme(meme.id)"
							on-addtofavourites="addMemeToFavourites(meme.id)"
							on-userclick="openUser(meme.createdByUserId)"></div>
		</div>
		
		<div class="pull-left userCard rounded" ng-show="allowGetMoreMemes">
			<div class="userCardContainer">          
				<div class="userCardContainerUser">
					<i class="fa fa-user"></i>
					<div id="">{{user.userName}}</div>					
					<div class="userCardContainerOptions">
					<button class="text-center follow" title="Get more posts by {{user.userName}}"
						 ng-click="getMoreMemes()">
						<i class="fa fa-download"></i><span>&nbsp; More...</span>
					</button>
					
					
					</div>
				</div>
			</div>
		</div>
</div>