#memeView{
  overflow: hidden;
  background-color: whitesmoke;
}
#memeViewCurrent{
	padding-top:15px;
}
#memeViewCurrent .addQuote{
  height:290px;
  }
#memeViewCurrent .closeMe{
  margin-top: 5px;
}
#memeViewCurrent .section{
	padding: 10px;
	border-radius: 6px;
}
#leftSpace{
	width:75px;
	height:300px;
}
#main{
  float: left;
  background-color: whitesmoke;
  width:700px;
    /*margin-*/
  margin-right: 5px;
}

#main .info{			
	text-align:center;
	padding: 2px;
	margin: 2px;
}
.share{
	float:left;	
	cursor:pointer;
	color: white;
}
#bigOptions{
	width: 316px;
	cursor:pointer;
	display:none;
}

#main #smallOptions{
	display:block;
	margin:0 auto;	
	width: 100%;
}
#main #smallOptions .share{ 
	width:32px;	
}
#main #smallOptions #socialButtonsSmall{
margin-top:2px;
}

#main #currentMemeStats{
	margin-top: 2px;
	  position: absolute;
  bottom: 0;
}
#currentMemeContainer #currentMemeStats .stat{
	margin: 5px;
	float:left;
}
#currentMemeContainer #currentMemeStats .hot{
	border:1px solid white;
}
#currentMemeContainer #currentMemeStats .hot:hover{
	border:1px solid cornflowerblue;
}
#currentMemeContainer #currentMemeStats i{
	margin-right:2px;
}
#main .imageContainer{
	height:auto;
	float:left;
	width:100%;
}
.section{
	float:left;
	padding: 5px;
	border-radius: 6px;
	background-color: white;
	margin-bottom: 5px;
}

#main #currentMemeContainer{
	padding: 10px;
	border-radius: 6px;
	background-color: white;
	min-height: 270px;
	display: table;
  }
  #main #currentMemeContainer #frame{
  	display: table-cell;
	vertical-align: middle;
	padding-bottom: 25px;
  }
 #main #currentMemeInfo{
	float:left;
	width:100%;
	height:40px;
	border-radius: 6px;
	background-color: white;
	margin-bottom: 5px;
	
 }
#memeViewCurrent #repliesContainer{
	padding-left:0;
	padding-right:0;
}
#memeViewCurrent #repliesContainer #replies{
  min-height: 208px;
  height: 100%;
}
#memeViewCurrent #repliesContainer #replies #noReplies{
  margin-top:50px;
  
}
#memeResponses{
}
#memeResponses .section{
	padding: 10px;
	border-radius: 6px;
}
#memeViewCurrent #commentsContainer{
	margin-left:5px;
	width: auto;
	overflow:auto;
}
#commentsContainer #commentsHeading{
	font-weight:bold;
	
}

#addComment textarea{
	height: 150px;
	overflow: auto;
}
#commentsContainer #comments{
	min-height: 647px;
	width: 100%;
}
#commentsContainer #comments textarea{
	width: 100%;
}
#commentsContainer #comments  .userComment{
	width:100%;  
	border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid rgb(200,200,200);
  padding: 10px;

}
#commentsContainer #comments  .userCommentHeading{
width: 100%;
}
#commentsContainer #comments  .userCommentText{
	padding-top: 5px;
	width: 100%;
	max-height: 300px;
    overflow: auto;
}
#commentsContainer #comments button{
	margin-bottom: 5px;
	margin-top: 5px;
}
#memeResponses #repliesContainer{
overflow:auto;
}
#memeResponses #repliesContainer #repliesHeading{

}
.sectionHeading{
	background-color: white;
	padding: 10px;
	border-radius: 6px;
	margin-bottom:5px;
}
#replies .memeLinkContainer{
	background-color:white;
	min-width:230px;
	margin-right:5px;
}
#replies .memeLinkContainer img{
	margin:5px;
	cursor:pointer;
	display: block;
	margin: auto !important;
}
#replies .memeLinkContainer .created{
	margin-left: 10px;
	margin-right: 10px;
	font-size: small;
	border-bottom: 1px solid #C8C8C8;
	height: 25px;
	margin-top: 10px;
	font-weight:bold;
}
#replies .memeLinkContainer .stats{
	margin-left: 10px;
	margin-right: 10px;
	font-size: small;
	height: 20px;	
}
#replies .memeLinkContainer .stats div{
	margin-right:10px;
}
#replies .memeLinkContainer  i{
	margin-right:2px;
}
#socialMedia{
	
	margin-right: 5px;
	width:100px;
	margin-top: 45px;
	position: fixed;
	margin-left:-23px;
}
#socialMedia span{
font-size: larger;
}
#socialMedia .share{
  width: 64px;
  background-color: rgb(200, 200, 200);
  margin-bottom: 5px;
  height: 64px;
  padding: 23px;
  margin-right: 5px;
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 1s; /* Safari */
  -webkit-transition-delay: 0s; /* Safari */
  transition-property: width;
  transition-duration: 1s;
  transition-delay: 0s;
}
.facebook{
	background-color: #3C5A98 !important;
}
.twitter{
	background-color: #47c7fa !important;
}
.google{
	background-color: #dd4b39 !important;
}
.pinterest{
	background-color: #cb2027 !important;
}
.share:hover{
width: 120px !important;
}
#favourites .dialogBody{
	padding-left:2px;
	padding-right:2px;
	padding-bottom:2px;
}
.favourite{
	height:180px;
	color:white;	
	border:1px solid white;
	cursor: pointer;
}
.favourite:hover{
border:1px solid grey;
border-radius: 12px;
}
.favouriteDelete{
    width: 20px;
    text-align: center;
	text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
	background-color: #F8F8F8;
    border-radius: 4px;
	margin-right: -12px;
	margin-top: 1px;
	height:20px;
}
.favouriteDeleteGhost{
    background-color: white !important;
	text-shadow: none;
}
.favouriteDelete:hover{
    background-color: darkred;
}