
#profile .userImage {
    height: 64px !important;
    width: 64px !important;
    border: 1px solid darkgrey;
    padding: 5px;
    background-color: white;
    margin-top: 15px;
}
#profile .dialogHead{
    border-bottom: 1px solid silver;
}
#profile #changeProfileImage{
    margin-top: 55px;
}
#profile #changeProfileImageLink{
    margin-top: 5px;
}
#profile .profileQuote{
    margin-top: 20px;
    margin-left: 5px;
    font-size: smaller;
    font-style: italic;
}