/* Put your css in here */
input[type="button"]:disabled{
border: 1px rgb(221, 221, 221) solid;
color: lightgrey;
}
.blurry
{
-webkit-filter: blur(2px);
filter: grayscale(0.5) blur(10px);
}
input 
{
height: 34px !important;
}
.waitingContainer{
	width:100%;
	margin-right:auto;
	margin-left:auto;
}
.waitGraphic{
	 background-image:url("../images/loading.gif")
}
.waitMessage{
	width:100%;
	text-align:center;
}
.modal {
    display: block;
	margin-left: auto;
	margin-right: auto;
	height:auto;
	top: 100px;
	bottom:auto;
	border-radius: 12px;
}
.modal-backdrop
{
opacity: 0.6;
background-color: #FEFEFE;
-webkit-filter: blur(6px);
}
.faded{
opacity: 0.6 !important;
}
.heading
{
	text-align: center;
}
.hide {
    display: none;
}

.closeMe
{
	float: right;
	margin-top: -50px;
	margin-right:10px;
	color:darkgrey;
	cursor: pointer;
	font-size: 1.25em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.closeIcon {
	padding-left:2px;
	padding-right:2px;
}
.closeIcon div:hover, .closeIcon span:hover{
	background-color: darkgrey;
	color:white;
}
.dropComment{
	float: right;
	margin-top: -20px;
	color:darkgrey;
	cursor: pointer;
	font-size: 1;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.dropComment span:hover{
	background-color: darkgrey;
	color:white;
}
.quote{
  width:230px;
  float:left;
  margin:5px;
}
.quote img{
  width:100%;
  max-height:300px;
  cursor:pointer;
}
.quoteHeader{
  margin-top:5px;
  width:100%;
  font-size:.8em;
  color:#C8C8C8;
  cursor:pointer;
}
.quoteHeader .when{
  float:right;
}
.quoteFooter{
  margin-top:5px;
  width:100%;
  font-size:1Sem;
  color:#C8C8C8;
  cursor:pointer;
}
.quoteFooter .options{
  float:right;
}
.options span{
  border:1px solid white;
  padding:1px;
}
.options span:hover{
  color:#888888;
  border:1px solid #888888 ;
}
.addQuote{
  height:340px;
  border:1px #C8C8C8 dashed;
  background-color:#E8E8E8;
  cursor:pointer;
} 

.imageContainer
{
float:left;
height: 250px;
width:100%;
}
.qContainer{  
  font-size:1.5em;
  color:#C8C8C8;
  width: 230px;
  height: 300px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}
.rounded
{
	border-radius: 12px;
}
.buttons
{
   float: left;
     /*margin-left: 25%;*/
    margin-top: 15px;
	margin-bottom:15px;
    text-align: center;
	font-size:1.25em;
    /*width: 50%;*/
	margin-left: auto;
	margin-right: auto;
	width: 560px;
}
.buttons input{
	margin-left:2px;
	margin-right:2px;
}
.dropdown-menu > li > span {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1;
color: #333;
white-space: nowrap;
cursor:pointer;
}
.dropdown-menu > li > span:hover {
	background-color: #428bca;
}
.btnCollection{
margin-left:1px !important;
}
.focus
{
  border-color: #66afe9;
  outline-style: none;
  outline-color: invert;
  outline-width: 0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);

}
/*-----------------------------------------------------------*/
.search{
  margin-top:15px;
  padding:15px;
}
.searchResultsContainer{
  background-color:#F8F8F8 ;
  padding:15px;
}
.searchResultsContainer .leftMargin{
  width:80px;
  height:150px;
  float:left;
}
/*-----------------------------------------------------------*/
#newQuote {
  color:#555;
}
#quoteImageSelection 
{
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	background-color:#FEFEFE;
}
#quoteImageSelection .option
{	height: 90px;
	width:100%;
}
#dropMessage{
height: 50px !important;
}
#quoteImageSelection .option .icon
{	
	float: left;
	font-size: 2em;
	margin-left: 15px;
	margin-right: 15px;
	color: gray;
	height: 60px;
}
#quoteImageSelection  .option .optionLabel
{
	padding-left:5px;
	padding-right:5px;
	float: left;
	width: 80%;
}

#quoteImageSelection.input input
{
font-size:.75em;
width:100%;
text-align:center !important;
height:auto !important;
}
#quoteImagePreview
{
margin-bottom:5px;
/*width: 550px;
height:325px;*/
}

#quoteImagePreview img
{	
	float:left;
	max-width:375px;
	max-height:250px;
	width: auto;
    height: auto;
	margin-left:75px;
	
	
}

/*-----------------------------------------------------------*/
.dialogPage {
    height:460px;
    width:560px;
}
.dialogHead {
    height:40px;
}
.dialogBody {
    height:280px;
}
.dialogFoot {
    height:40px;
}
.dialogWaitConainer{
	height:369px;
}
.dialogWaitGraphic{
	height: 128px;
	margin-top: 100px;
	width: 128px;
	margin-left: 200px;
}
.dialog-wide{
	width:75%;
}
#spawnQuote
{
}
 #spawnQuote .imageContainer
 {
	/*height:100%;
	width:auto;*/
	max-width:375px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:50px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	float: none;
 }
 #spawnQuote #edit{
	float: right;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
 }
 #spawnQuote .comment
 {
	cursor: move;
	padding:5px;
	z-index:1;
 }
 #spawnQuote #comment:hover
 {
	border:1px dashed;
	padding:4px;
 }
 #spawnQuote .selected
 {
	
 }
 #spawnQuote .ui-draggable-dragging
 {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
 }
 #spawnQuote #commentContainer
 {
	margin-right:auto;
	margin-left:auto;
	width:450px;
 }
#spawnQuote #toolbar
{
	margin-top:-64px;
	width:246px;
	border:1px solid darkgrey;
	background-color:silver;
	z-index: 0;
}
#spawnQuote #toolbar .btn{
	padding-top:2px;
	padding-bottom:2px;
	padding-left:8px;
	padding-right:8px;
	height:28px;
}
#spawnQuote #toolbar .fontDropdown{
	width:86px;
}
#spawnQuote #toolbar .textShadowDropdown{
	width:58px;
}
#spawnQuote #toolbar .textDecoration{
	width:32px;
}
#spawnQuote .colorBar{
  width:150px;
  height:11px;
  border:1px solid black;
}
#spawnQuote .hoverOver
{
	border:1px dashed;
}
#spawnQuote #sideBar{
	position:absolute;
	left: 510px;
	padding-top: 5px;
}
#spawnQuote #sideBar .sideBarButton{
	margin-bottom: 3px;
}
 #publish .imageContainer
 {
	/*height:100%;
	width:auto;*/
	max-width:375px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:50px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	float: none;
 }
#publish img{margin-left:auto;margin-right:auto;display:block;}
  
#logIn #logInOptions{
    max-width:375px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:50px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	float: none;
}
#logIn .logInOption {
    margin-bottom:15px;
    width:302px;
    margin-left:auto;
	margin-right:auto;
    height:42px;
    cursor:pointer;
}
#logIn #logInWithFacebook {
    background-image:url("../images/LogInWithFacebook.png")
}
#logIn #logInWithGoogle {
    background-image:url("../images/LogInWithGoogle.png")
}
#logIn #logInWithTwitter {
    background-image:url("../images/LogInWithTwitter.png")
}
.logInButton{
	background-repeat:no-repeat;
	height:41px; 
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
	border-radius: 3px;
	cursor:pointer;
}
.logInInner{
	margin-left:43px;	
	height:100%;
}
.socialMediaText{
	padding-left:18px;
	padding-top:13px;
	font-family:sans-serif;
	font-weight: bold;
	font-size:11pt;
	text-align: left;
	color:white
}
.logInButtonFacebook{
	background-image: url('../images/Facebook.png');
	border: 1px solid navy;
}		

.logInButtonGoogle{
	background-image: url('../images/GooglePlus.png');
	border: 1px solid rgb(248, 116, 116);
}
.logInButtonTwitter{
	background-image: url('../images/Twitter.png');
	border: 1px solid rgb(32, 145, 189);
}
.innerFaceBook{
	background-color: rgb(81, 114, 180);
	background-image: linear-gradient(rgb(81, 114, 180), rgb(12, 42, 105));
}
.innerGoogle{
	background-color: rgb(227, 66, 66);
	background-image: linear-gradient(rgb(248, 115, 115), rgb(227, 66, 66));
}
.innerTwitter{
	background-color: rgb(28, 128, 168);
	background-image: linear-gradient(rgb(94, 189, 228), rgb(28, 128, 168));
}
.innerPinterest{
	background-color: red;
	background-image: linear-gradient(rgb(239, 119, 123), rgb(212,47,52));
}
#memeView{
}
#memeViewInternal{
  min-height: 400px;
}
#leftBar{
	width: 25%;	
	margin-top: -50px;
	float: left;
}
#socialMedia{
	margin-top: 25px;
}

#socialMedia .shareOption{
	width:80%;
	height: 41px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;	
	cursor:pointer;
	border-radius: 6px;
}
#socialMedia .shareOption:hover{
	width:95%;
}
.shareIcon{
	float:left;
	width:43px;
	height:41px;
	border-radius: 6px;
}
 .shareIconLittle{
 	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	cursor:pointer;
	border-radius: 6px;
	width:80%;
	background-repeat: no-repeat;
 }
.shareText{
	float:left;
	font-family:sans-serif;
	font-weight: bold;
	font-size:11pt;
	text-align: left;
	color:white;
	margin-top: 11px;
	margin-left:5px;
}
.shareCount{
	float:right !important;
	margin-right:5px !important;
}
.faceBook{
	background-image: url('../images/Facebook.png');	
	border-left: 1px solid navy;
}
.twitter{
	background-image: url('../images/Twitter.png');	
	border-left: 1px solid rgb(32, 145, 189);
}
.google{
	background-image: url('../images/GooglePlus.png');
	border-left: 1px solid rgb(248, 116, 116);
}
.pinterest{
	background-image: url('../images/Pinterest.png');
	border-left: 1px solid rgb(248, 116, 116);
}
#responseToMeme{
	border: 1px solid silver;
	height: 96px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
#middle{
  float: left;
  width:500px;
  margin-left: auto;
  margin-right: auto;
}
#middle #currentMemeContainer{

  }
#rightBar{	
	width: 25%;
	margin-top: -50px;
	float: right;
	min-height:inherit;
}
