
.themedBackground{
    background-color:darkslateblue;
}
.themedForeColor{
    color:white !important;
}
.secondaryBackground{
    background-color: rgb(100, 149, 237);
}

.clickable{
    cursor: pointer;
}

/************************************************************************************************/
/*Nav bar*/

    /*Force nav bar collapse for sm */
    @media (max-width: 991px) {
        .navbar-header {
            float: none;
        }
        .navbar-left,.navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in{
            display:block !important;
        }
    }
    .navbar .nav{
        margin: auto;
    }

    /**Center Nav bar inner -- gives margins left and right**/
    #navbarContainer > div.collapse.navbar-collapse.navbar-ex1-collapse{
        padding-top: 23px;
        padding-bottom: 23px;
        overflow: hidden;
    }
    
    /**navbar menu links **/
    #navbarContainer ul li a{
        text-shadow: initial;
        padding-left: 5px;
        padding-right: 15px;
    }
    #navbarContainer ul li a:hover{
        color: rgb(100, 149, 237)!important;
    }
    /**Container for logo Menu & Identity */
    #logoMenuIdentity{
        width:65%;
        margin: 0 auto;
    }
        /***Logo and the Add Quote button combined***/
        #navbarContainer #logoAddContainer{
            float: left;
        }
            /***Logo***/
            #navbarContainer .logo{
                background-color: white;
                color:darkslateblue;
                padding: 5px 5px;
                height: 30px;
                border: 1px solid silver;
                border-radius: 4px;
            }
            
            /****Logo Collapsed for mobile device****/
            #navbarContainer #deviceNav #toggleNavigation{
                float: left;margin-left: 25px;
            }
            #navbarContainer #deviceNav #SearchDevice{
                margin-left: 5%;margin-right: 5%;
            }
            #navbarContainer #deviceNav #srch-term-device{
                margin-top: 15px;
                height: 40px;
                font-size: large;
                text-align: center;
            }
            #navbarContainer #deviceNav #searchButtonDevice{
                top: 5px;height: 40px;
            }
            #navbarContainer #deviceNav a{
                margin-left: 50px;
                margin-top: 23px;
            }
            #navbarContainer #deviceNav .fa.fa-bars{
                font-size: xx-large;
                margin-top: 1px;
            }
            #navbarContainer #deviceNav #SearchDevice{

            }
            /****Add Quote button ****/
            #navbarContainer #logoAddContainer button{
                height: 30px;
                margin-left: 10px;
                border: 1px solid silver;
            }
    
        /***Menu***/
        #navbarContainer #menuContainer{
            float: left;
            margin-top: -5px;
        }        
            /****Search bar****/
            #navbarContainer #menuContainer #srch-term
            {
                margin-top: 5px;
                height: 34px
            }
        /***Identity***/
        #navbarContainer #identity .nav{
            margin-top: -5px;
        }
    /** Dropdown nav**/
    #navbarContainer ul#dropdownNav li {
        margin-left: 30px;
        font-size: large;
    }
    #navbarContainer ul#dropdownNav .fa {
        width: 32px;
    }
/************************************************************************************************/
