/* Put your css in here */
input[type="button"]:disabled{
border: 1px rgb(221, 221, 221) solid;
color: lightgrey;
}
.blurry
{
-webkit-filter: blur(2px);
filter: grayscale(0.5) blur(10px);
}
input 
{
height: 34px !important;
}
button:hover{
	color:cornflowerblue;
 }
 .logo{
    border: 2px solid;
    padding: 2px;
    color:cornflowerblue;
    background-color: white;
    font-size: 18px; 
 }
 .allowFollow{
	font-weight:bold;
	cursor:pointer;
	color:cornflowerblue;
	padding:3px;
 }
.allowFollow:hover {
    background-color: cornflowerblue;
    color: white;
	border-radius: 3px;
    border: 1px solid rgb(200,200,200);
	font-weight:normal;
}
 .noFollow{
	color:dark-grey;
 }
 .hot{	
	
 }
 .hot:hover{
	cursor: pointer;
	color:cornflowerblue !important;
 }
 .isFavourite{
	color:gold
 }
.waitingContainer{
	width:100%;
	margin-right:auto;
	margin-left:auto;
}
.waitGraphic{
	 background-image:url("../images/loading.gif")
}
.waitMessage{
	width:100%;
	text-align:center;
}
.modal {
    display: block;
	margin-left: auto;
	margin-right: auto;
	height:auto;
	top: 100px;
	bottom:auto;
	border-radius: 12px;
}
.modal-backdrop
{
opacity: 0.6;
background-color: #FEFEFE; 
-webkit-filter: blur(6px);
}
.faded{
opacity: 0.6 !important;
}
.heading
{
	text-align: center;
}
.hide {
    display: none;
}

.closeMe
{
	float: right;
	margin-top: -55px;
	margin-right: 3px;
	color: #A9A9A9;
	cursor: pointer;
	font-size: 1.25em;
	text-shadow: -1px 0px #000, 0px 1px #000, 1px 0px #000, 0px -1px #000;
}
.closeIcon {

	/*background-color: #F8F8F8;*/
	border-radius: 8px;
	width: 32px;
	height: 32px;
	padding-top: 3px;
	color: #FFF;
}
.closeIcon:hover{
	background-color: #8B0000;
}
.dropComment{
	float: right;
	margin-top: -20px;
	color:darkgrey;
	cursor: pointer;
	font-size: 1;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.dropComment span:hover{
	/*background-color: darkgrey;*/
	color:white;
}
.quote{
  float:left;
  margin:5px;
}
.quote img{
  width:100%;
  max-height:300px;
  cursor:pointer;
}
.quoteHeader{
  margin-top:5px;
  width:100%;
  font-size:.8em;
  color:#C8C8C8;
  cursor:pointer;
}
.quoteHeader .when{
  float:right;
}
.quoteFooter{
  margin-top:5px;
  width:100%;
  font-size:1Sem;
  color:#C8C8C8;
  cursor:pointer;
}
.quoteFooter .options{
  float:right;
}
.options span{
  border:1px solid white;
  padding:1px;
}
.options span:hover{
  color:#888888;
  border:1px solid #888888 ;
}
.addQuote{
  height:340px;
  border:1px #C8C8C8 dashed;
  background-color:#E8E8E8;
  cursor:pointer;
} 

.imageContainer
{
float:left;
height: 250px;
width:100%;
}
.qContainer{  
  font-size:1.5em;
  color:#C8C8C8;
  width: 230px;
  height: 300px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

}
.rounded
{
	border-radius: 12px;
}
.buttons
{
   float: left;
     /*margin-left: 25%;*/
    margin-top: 15px;
	margin-bottom:15px;
    text-align: center;
	font-size:1.25em;
    /*width: 50%;*/
	margin-left: auto;
	margin-right: auto;
	width: 560px;
}
.buttons input{
	margin-left:2px;
	margin-right:2px;
}
.dropdown-menu > li > span {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1;
color: #333;
white-space: nowrap;
cursor:pointer;
}
.dropdown-menu > li > span:hover {
	background-color: #428bca;
}
.btnCollection{
margin-left:1px !important;
}
.focus
{
  border-color: #66afe9;
  outline-style: none;
  outline-color: invert;
  outline-width: 0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);

}
/*-----------------------------------------------------------*/
#navbarContainer{
	background-color:#F8F8F8 ;
	margin-left: 10px;
	margin-right: 10px;
}
#srch-term{
	margin-top:5px;
}
#navBar{
	margin-top:5px;
}
#navbarLogo{
    margin-top: -5px;
}
.search{
	margin-top:15px;
	padding-left: 15px;
	padding-right: 15px;  
}
.searchResultsContainer{
  background-color:#F8F8F8 ;
  padding:15px;
}
.searchResultsContainer .leftMargin{
  width:80px;
  height:150px;
  float:left;
}
/*-----------------------------------------------------------*/

#view{
	padding-left:25px;
	padding-right:25px;
}
#newQuote {
  color:#555;
}
#quoteImageSelection 
{
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	background-color:#FEFEFE;
}
#quoteImageSelection .option
{	height: 90px;
	width:100%;
}
#dropMessage{
height: 50px !important;
}
#quoteImageSelection .option .icon
{	
	float: left;
	font-size: 2em;
	margin-left: 15px;
	margin-right: 15px;
	color: gray;
	height: 60px;
}
#quoteImageSelection  .option .optionLabel
{
	padding-left:5px;
	padding-right:5px;
	float: left;
	width: 80%;
}

#quoteImageSelection.input input
{
font-size:.75em;
width:100%;
text-align:center !important;
height:auto !important;
}
#quoteImagePreview
{
margin-bottom:5px;
/*width: 550px;
height:325px;*/
}

#quoteImagePreview img
{	
	float:left;
	max-width:375px;
	max-height:250px;
	width: auto;
    height: auto;
	margin-left:75px;
	
	
}

/*-----------------------------------------------------------*/
.dialogPage {
    width:560px;
}
.dialogHead {
    height:40px;
}
.dialogBody {
    height:280px;
}
.dialogFoot {
    height:40px;
}
.dialogWaitConainer{
	height:369px;
}
.dialogWaitGraphic{
	height: 128px;
	margin-top: 100px;
	width: 128px;
	margin-left: 200px;
}
.dialog-wide{
	width:65%;
}
.dialog-meme{
	width:auto;
}
#spawnQuote
{
}
 #spawnQuote .imageContainer
 {
	/*height:100%;
	width:auto;*/
	max-width:375px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:50px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	float: none;
 }
 #spawnQuote #edit{
	float: right;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
 }
 #spawnQuote .comment
 {
	cursor: move;
	padding:5px;
	z-index:1;
 }
 #spawnQuote #comment:hover
 {
	border:1px dashed;
	padding:4px;
 }
 #spawnQuote .selected
 {
	
 }
 #spawnQuote .ui-draggable-dragging
 {
	color: #fff;
	/*background-color: #428bca;
	border-color: #357ebd;*/
 }
 #spawnQuote #commentContainer
 {
	margin-right:auto;
	margin-left:auto;
	width:450px;
 }
#spawnQuote #toolbar
{
	margin-top:-64px;
	width:246px;
	border:1px solid darkgrey;
	background-color:silver;
	z-index: 0;
}
#spawnQuote #toolbar .btn{
	padding-top:2px;
	padding-bottom:2px;
	padding-left:8px;
	padding-right:8px;
	height:28px;
}
#spawnQuote #toolbar .fontDropdown{
	width:86px;
}
#spawnQuote #toolbar .textShadowDropdown{
	width:58px;
}
#spawnQuote #toolbar .textDecoration{
	width:32px;
}
#spawnQuote .colorBar{
  width:150px;
  height:11px;
  border:1px solid black;
}
#spawnQuote .hoverOver
{
	border:1px dashed;
}
#spawnQuote #sideBar{
	position:absolute;
	left: 510px;
	padding-top: 5px;
}
#spawnQuote #sideBar .sideBarButton{
	margin-bottom: 3px;
}
 #publish .imageContainer
 {
	/*height:100%;
	width:auto;*/
	max-width:375px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:50px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	float: none;
 }
.imageContainer .image{
	display:block;
    margin:auto !important;
 }
#publish img{margin-left:auto;margin-right:auto;display:block;}
  

.card {
	background-color: white;
}

.option{
	border-radius:3px;
	border: 1px solid rgb(200,200,200);
	background-color:whitesmoke;
	cursor: pointer;
	padding-top:5px;
	padding-bottom:5px;
}
.option:hover{	
	background-color:cornflowerblue;	
	color:white;
}
/*---------------------------------------------------------*/
 .memeLinkContainer{
	background-color:white;
	width:400px;
	height:300px;
   margin-bottom: 15px;
    margin-left: 15px;
	display: table;
}
 .memeLinkCard{
   text-align: center;
    display: table-cell;
    vertical-align: middle;

}
 .memeLinkCardImage{
    height: 225px;
    display: table-cell;
    vertical-align: middle;    
    width: 400px;
}
.memeLinkCardMeta .userImageFrame{
	height:55px;
}
.userImageSmall{
	width:32px;
	height:32px;
	border-radius: 16px;
}
 .memeLinkCardMeta .userImageSmall{
	margin-top: 16px !important;	 
}
 .memeLinkContainer img{
	margin:5px;
	cursor:pointer;
	display: block;
	margin: auto !important;
}
.memeLinkCardMeta .infoFrame{
	width:335px;
}
 .memeLinkContainer .created{
	margin-left: 10px;
	margin-right: 10px;
	font-size: small;
	border-bottom: 1px solid #C8C8C8;
	height: 25px;
	margin-top: 10px;
	font-weight:bold;
}
 .memeLinkContainer .stats{
	margin-left: 10px;
	margin-right: 10px;
	font-size: small;
	height: 20px;	
}
 .memeLinkContainer .stats div{
	margin-right:10px;
}
 .memeLinkContainer  i{
	margin-right:2px;
}
 .userStats{
    font-size: 10pt;
    margin-bottom: 25px;
}
 .userStats i{
	margin-left: 10px;
	margin-right: 3px;
}
.toolbar{
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 5px !important;
}
.followUser{
    white-space: normal !important;
    margin-right: 5px;
}
.contextOption{
    width: 100%;
    text-align: left;
    cursor: pointer;
	padding-top: 3px;
    padding-left: 5px;		
    font-size: small;
	color:#777;
}
.contextOption:hover{

	background-color: silver;
	color:black;
}
.contextOption i{
	width:20px;
}
.contextSeparator hr{

	margin:3px !important;
}
 .ngUserHover{
    position: absolute;
    width: 600px;
    height: 128px;
    background: silver;
    overflow: hidden;
    z-index: 10000;
     display: none; 
    left: 100px;
    top: -50px;
    border: 1px solid darkgrey;
}
#hoverUserDetail .header{
	text-align: left;
	background-color: white;
	height: 64px;
	
}

#hoverUserDetail .header .userImage{
    text-align: left;
    float: left !important;   
    margin-top: 32px!important;
    margin-left: 10px!important;
    border: 1px solid darkgrey;
    padding: 5px;
    background-color: white;
	height: 64px !important;
    width: 64px !important;
}
#hoverUserDetail .header .userName{
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
    text-align: left;
    margin-left: 100px;
	color:black;
}
#hoverUserDetail .header .userStatus{ 
    margin-left: 100px;
    color: #A9A9A9;
    font-style: italic;
}
#hoverUserDetail .userStats{
    background-color: whitesmoke !important;
	height: 64px;
}

#hoverUserDetail .userStats .userStat{
	float:left !important;
	width: 100px;
	margin-top: 5px; 
	color:black;
}

#hoverUserDetail .userStats .userStat div{
	font-weight: bold;
    color: cadetblue !important;
}
#searchContainer{
	padding-left: 10px;
}
.commentary{
	  background-color: lavender;
}
.homePageOptionContainer{
    margin-top: 15px;
    margin-bottom: 15px;
}
.homePageOption{
    height: 20px;
    margin-top: 5px;
}
