#timeline .userCardContainer{  	
    height: 300px;
}
#timeline .following{
    width:100px;
    margin-top: 25px;
}
#timeline .unfollow{
    color: darkred;
}
#timeline .userImageContainer{
    margin-top: 50px;
    background-color:white;
    width: 200px;
    height: 200px;
    padding:37px;
    border:3px solid #F8F8F8;
}
#timeline .userMainImage{

    max-width: 125px;
    max-height: 125px;
    min-height: 125px;
    min-width: 125px;
}
#timeline .userNameContainer{
    margin-top: 35px;
    height: 100px;
    margin-left:15px;
}
#timeline .userName{
    font-size: 4em;     
}
#timeline .userQuoteContainer{
    font-size: 1.5em;
    height: 110px;
    margin-left:15px;
    overflow: auto;
    font-style: italic;
    color: darkgray;
}
#timeline .userStatOptions{
    margin-top: -45px;
    font-size: 1.3em;
    color: darkgray;
    text-align: center;
}
#timeline .userStatOptions div{
    border-bottom: 4px solid white ; 
}
#timeline .userStatOptions div:hover{
    border-bottom: 4px solid cornflowerblue ; 
}
#timeline .userStatOptions .selected{
    color: black !important; 
}
#timeline .userCard {
    width: 98%;
    height: 300px;
    margin-bottom: 15px;
    margin-left: 15px;
	background-color: white;
    display: table;
}

.userCardContainer  .userCardContainerOptionsInfo{
	font-size: smaller;
	margin-top:15px;
}
#timeline .timeLineDescription{

    margin-bottom: 40px;
}


#timeline .sideBar{
    min-height: 100px;
}
#timeline .sideBarLeft{
    margin-left: 15px;
}
#timeline .sideBarRight{
    margin-left: -30px;
}
#timeline .sideBar .head{
    margin-top:15px;
    font-size: 1.3em;
    color: darkgray;
    text-align: center;

}  
