#userTimeline .userCardContainer{  	
    height: 300px;
}
#userTimeline .following{
    width:100px;
    margin-top: 25px;
}
#userTimeline .unfollow{
    color: darkred;
}
#userTimeline .userImageContainer{
    margin-top: 50px;
    background-color:white;
    width: 200px;
    height: 200px;
    padding:37px;
    border:3px solid #F8F8F8;
}
#userTimeline .userMainImage{

    max-width: 125px;
    max-height: 125px;
    min-height: 125px;
    min-width: 125px;
}
#userTimeline .userNameContainer{
    margin-top: 35px;
    height: 100px;
    margin-left:15px;
}
#userTimeline .userName{
    font-size: 4em;     
}
#userTimeline .userQuoteContainer{
    font-size: 1.5em;
    height: 110px;
    margin-left:15px;
    overflow: auto;
    font-style: italic;
    color: darkgray;
}
#userTimeline .userStatOptions{
    margin-top: -45px;
    font-size: 1.3em;
    color: darkgray;
    text-align: center;
}
#userTimeline .userStatOptions div{
    border-bottom: 4px solid white ; 
}
#userTimeline .userStatOptions div:hover{
    border-bottom: 4px solid cornflowerblue ; 
}
#userTimeline .userStatOptions .selected{
    color: black !important; 
}
#userTimeline .userCard {
    width: 98%;
    height: 300px;
    margin-bottom: 15px;
    margin-left: 15px;
	background-color: white;
    display: table;
}

.userCardContainer  .userCardContainerOptionsInfo{
	font-size: smaller;
	margin-top:15px;
}
#userTimeline .timeLineDescription{
    margin-left: 15px;
    background-color: white;
    width: 600px;
    margin-right: 15px;    
    padding: 2px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;    
}

#userTimeline .timeLineDescription .icon{
    background-color: #F8F8F8;
    width: 32px;
    border: 1px solid darkgrey;
    height: 32px;
    font-size: large;
    
}
#userTimeline .timeLineDescription .icon i{
    margin-left: 6px;
    margin-top: 6px;
}
#userTimeline .timeLineDescription .text{
    width: 530px;
    height: 32px;
    padding-top: 6px;   
}
#userTimeline .timeLineDescription .dateofEntry{
    margin-left: 2px;
    font-weight: bold;   
}

#userTimeline .timeLineComment{
    max-height: 250px;
    overflow: auto;
    border:1px solid lightgrey;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    margin-top: 5px;
}
#userTimeline .memeLinkContainer{
    margin-bottom: 0 !important;
    border-top: 1px solid darkgrey;
}
#userTimeline .timeLineExtended{
    margin-top: -40px;
}
#userTimeline .timeLineReplyMeme{
    margin-left:100px;
}
#userTimeline .timeLineReplyMeme .memeLinkContainer{
    width:300px!important;
     margin-left: 95px;
}
#userTimeline .timeLineReplyMeme .memeLinkCardMeta .infoFrame {
    width: 220px!important;       
}
#userTimeline .sideBar{
    min-height: 100px;
}
#userTimeline .sideBarLeft{
    margin-left: 15px;
    margin-top: 25px;
}
#userTimeline .sideBarRight{
    margin-left: -30px;
    margin-top: 25px;
}
#userTimeline .sideBar .head{
    margin-top:15px;
    font-size: 1.3em;
    color: darkgray;
    text-align: center;

}  
#userTimeline #moreTimeLine{
    margin-top: 40px;
    margin-left: 20px;
}
#moreEntries{
    width:100px;
    margin-left: 15px;
}
#userTimeline #addNewComment{
    width: 600px;
    margin-left:15px;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid #C8C8C8;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#userTimeline #addNewComment #addCommentText textarea{
   width:590px; 
   height: 150px;
   overflow: auto;
}
#userTimeline #addNewComment #addCommentImage{
   margin-right: -4px; 
}

#userTimeline #addNewComment #addCommentImage img{
    margin-top: 10px;
    margin-left: -2px;
}
#userTimeline .memeLinkContainer{
    width: 600px;
}
#userTimeline  .memeLinkCard{
    padding-left:90px;
}
#userTimeline .timeLineReplyMeme .memeLinkCard{
    padding-left:0;
}
#userTimeline .memeOptions{
    width: 600px;
    margin-left: 15px;
    margin-top: 5px;
    background-color: white;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}