<div class="memeLinkContainer pull-left rounded col-md-12 col-lg-12 col-sm-12">
	<div class="memeLinkCard">
		<div class="memeLinkCardImage">
			<img ng-src="api/image/{{ngModel.id}}" ng-click="onClick(ngModel.id)" class="image"/>
		</div>
		<div class="memeLinkCardMeta pull-down">
			<div class="pull-left userImageFrame">
				<img class='userImageSmall' ng-src='api/image/user/{{ngModel.createdByUserId}}'></img>
			</div>
		
			<div class="pull-left infoFrame">
				<div class="created">
					<div class="pull-left ">
						<i class="fa fa-retweet hot repostIcon" ng-show="ngModel.repostOfId" ng-click="onClickrepost(ngModel.repostOfId)"
						title="This is a repost. Click here to open the original."></i>
						<span class="allowFollow"   ng-userhover ng-user="ngModel.creator" >
							{{ngModel.createdBy}}
						</span>
					</div>
					<div class="pull-right">{{ngModel.dateCreated | date:'short'}} </div> 
				</div>
				<div class="stats">
					<div ng-click="onLike(ngModel.id)" title="I like this post." class="hot pull-left info stat">
						<i class="fa fa-thumbs-o-up"></i><span>{{ngModel.likes | nearestK}}</span>
					</div>
					<div ng-click="onDislike(meme.id)" title="I dislike this post" class="hot pull-left info stat">
						<i class="fa fa-thumbs-o-down"></i><span>{{ngModel.dislikes | nearestK}}</span>
					</div>	
				
	
					<div title="The number of comments" class="pull-right info stat">
						<i class="fa fa-comments-o"></i><span>{{ngModel.userCommentCount | nearestK}}</span>
					</div>
					<div title="The number responses" class="pull-right info stat">
						<i class="fa fa-reply"></i><span>{{ngModel.replyCount | nearestK}}</span>
					</div>
					<div title="The number of reposts" class="pull-right info stat">
						<i class="fa fa-retweet"></i><span>{{ngModel.reposts | nearestK}}</span>
					</div>	
					<div title="The number times this meme has been viewed" class="pull-right info stat">
						<i class="fa fa-eye"></i><span>{{ngModel.views | nearestK}}</span>
					</div>		
				</div>
			</div>		
		</div>
		<div class="pull-left col-lg-12 col-md-12 col-sm-12 memeLinkHashTags">
			<div ng-repeat="hashTag in ngModel.hashTags" class="btn-group hashTags">	
					<button type="button" class="btn hashTagbutton hashTagbuttonSmall" title="#{{hashTag}}">
						#{{hashTag}}
					</button>
			</div>
		</div>		
	</div>
</div>